---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Política de Privacidad">
  <main class="bg-gray-100 text-gray-800 font-sans m-5">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <h1 class="text-2xl font-bold mb-4">Política de privacidad</h1>
      <p class="mb-4">
        Nosotros, tona.dev, nos tomamos muy en serio la privacidad de nuestros
        usuarios. En esta política de privacidad, explicamos cómo recopilamos,
        usamos y protegemos la información personal que nos proporcionas a
        través de nuestro bot en Messenger.
      </p>
      <h2 class="text-xl font-bold mb-2">Información que recopilamos</h2>
      <p class="mb-4">
        Cuando utilizas nuestro bot, podemos recopilar información personal,
        como tu nombre y apellido, tu ubicación, la moneda que usas y la moneda
        a la que deseas convertir, y otra información relacionada con la
        conversión de divisas.
      </p>
      <p class="mb-4">
        También podemos recopilar información sobre cómo utilizas nuestro bot,
        como las preguntas que realizas y las respuestas que seleccionas. Esta
        información se utiliza para mejorar nuestro bot y ofrecerte respuestas
        más precisas y relevantes.
      </p>
      <h2 class="text-xl font-bold mb-2">Uso de la información</h2>
      <p class="mb-4">
        La información que recopilamos se utiliza para procesar tus solicitudes
        de conversión de divisas y para sugerirte respuestas más precisas y
        relevantes en el futuro. También podemos utilizar la información para
        mejorar nuestro bot y personalizar tu experiencia con él.
      </p>
      <h2 class="text-xl font-bold mb-2">Protección de la información</h2>
      <p class="mb-4">
        Nosotros tomamos medidas de seguridad para proteger la información
        personal que nos proporcionas, tanto durante la transmisión como una vez
        que la recibimos. Sin embargo, ningún método de transmisión por Internet
        o de almacenamiento electrónico es 100% seguro, por lo que no podemos
        garantizar la seguridad absoluta de la información que nos proporcionas.
      </p>
      <h2 class="text-xl font-bold mb-2">Divulgación de la información</h2>
      <p class="mb-4">
        No compartimos la información personal que recopilamos con terceros sin
        tu consentimiento, excepto en los casos en que sea necesario para
        cumplir con la ley o para proteger nuestros derechos.
      </p>
      <h2 class="text-xl font-bold mb-2">
        Cambios en la política de privacidad
      </h2>
      <h2 class="text-xl font-bold mb-2">Cómo contactarnos</h2>
      <p class="mb-4">
        Si tienes alguna pregunta o inquietud sobre nuestra política de
        privacidad o sobre el uso de tu información personal, contáctanos a
        través del bot en la sección de ayuda o mediante correo electrónico.
      </p>
    </div>
  </main>
</Layout>
