@use "sass:map";

$colors: (
  "bg": #080308,
  "text": #f1f1f1,
  "accent": #fff131,
);

$color-bg: var(--color-bg);
$color-text: var(--color-text);
$color-text-value: map.get($colors, "text");
$color-accent: var(--color-accent);

%root-colors {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}
