@import "./tokens.scss";
@import "./utils.scss";
@import "./components.scss";

%font-serif {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }
}

.text-invisible {
  opacity: 0;
  visibility: hidden;
}

.content {
  max-width: $desktop;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
  line-height: 1.75;
}
