---
import "../styles/normalize.css";
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji"; /* 1 */
        line-height: 1.5; /* 2 */
      }
    </style>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style lang="scss" is:global>
  @import "../styles/theme.scss";

  :root {
    @extend %root-colors;
  }

  html {
    color: $color-text;
    background-color: $color-bg;
  }

  a {
    text-decoration: none;
  }
</style>
